{
	"slack-token": "slack slash token here",
	"mongodb": {
		"host": "whatever",
		"port": 3241,
		"collection": "your_col"
	},
  "redis": {
    host: 6379,
    port: 127.0.0.1,
    auth: 'password',
    db: 3
  } 
}