.head-icon {
  width: 40px;
  height: 40px;
  padding-right: 15px;
}

.mdl-layout__header-row {
  padding-left: 40px;
  padding-right: 40px;
}

footer button.mdl-button {
  width: 100%;
  height: 46px;
}

.demo-card-wide.mdl-card {
  width: 100%;
}

.demo-card-wide > .mdl-card__title {
  color: black;
  height: 176px;
  background: url('card_bg.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}